html {
	height: 100%;

}
body {
	margin: 0;
	background-color: black;
	color: white;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	font-family: 'Unica One', cursive;

}

h1 {
	font-size: 80px;
}

